@import '../../../styles/vars';
@import '../../../styles/mixins';

.view-app {
  h1 {
    color: $teal;
    text-align: center;
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    max-width: 500px;
    margin: 20px auto 0;

    @include media-sm() {
      margin: 20px;
    }

    .tab {
      background-color: $teal + 10;
      width: 100%;
      text-align: center;
      padding: 10px;
      border-radius: 15px 15px 0 0;
    }
  }

  .container {
    background-color: $teal;
    margin: 0 auto 0;
    border-radius: 15px;
    text-align: center;
    color: white;
    min-height: 400px;
    max-width: 500px;

    @include media-sm() {
      margin: 20px;
    }
  }

  .page {
    padding: 10px;
  }
}