.scratcher {
  margin-top: 15px;
  position: relative;
  overflow: hidden;

  .reveal-container {
    position: relative;
    margin-top: 25px;
    background-color: white;
    user-select: none;
    border: 5px solid white;
    border-radius: 50%;
  }

  .reveal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .reveal-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .boundary-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    pointer-events: none;
  }
}